<html ng-app="scheduler">
<head>
    <meta charset="UTF-8">
    <title>Scheduler</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">

    <!-- <link rel = "stylesheet" type = "text/css" href = "app.css"> -->
</head>
<body ng-controller="ScheduleController as schedule" class="text-center">
<h3>CSSE490-01 - Web Services Development</h3>
<hr/>
<h3>Winter 2015-16 (201620)</h3>

<table class="table">
    <tr>
        <td ng-repeat="scheduleComponentName in schedule.scheduleComponentNames">
            {{scheduleComponentName}}
        </td>
    </tr>
    <tr>
        <td>
            {{schedule.scheduleSession["week"]}}
        </td>
        <td>
            {{schedule.scheduleSession["session"]}}
            <p><em>{{schedule.scheduleSession["sessionDate"]}}</em></p>
        </td>
        <td ng-repeat="due in schedule.scheduleComponent.values">
            {{due}}
        </td>
        <td ng-repeat="scheduleComponent in schedule.scheduleSession.scheduleComponents">
            <!-- {{schedule.scheduleSession["scheduleComponents"][0]["values"]}} -->
            <ul>
                <li ng-repeat="value in scheduleComponent.values"
                    ng-bind-html="value">

                </li>
            </ul>
        </td>
        <td>
            {{s[0]["sessionDate"]}}
        </td>

    </tr>
</table>

<!-- include angular js framework that we downloaded -->


<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="schedule.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="angular-sanitize.min.js"></script>
<script type="text/javascript" src="createSchedule.js"></script>
<script type="text/javascript" src="scheduleObjects.js"></script>
</body>
</html>
