<div class="container">
    <h2>
        Homework
    </h2>

    <table class="row text-center">
        <tr>
            <td class="col-sm-3">Assignment</td>
            <td class="col-sm-3">Problems</td>
            <td class="col-sm-3">Due</td>
            <td class="col-sm-3">Solutions</td>
        </tr>
        <tr ng-repeat="hw in homeworkComponents">
            <td>{{hw.number}}</td>
            <td><a href="{{hw.url}}">{{hw.name}}</a></td>
            <td>{{getSessionDate(hw.sessionDue)}}</td>
            <td>{{hw.solution}}</td>
        </tr>
    </table>
</div>